/* color palette from <https://github.com/vuejs/theme> */
:root {
  --non-photo-blue: #89d2dcff;
  --slate-blue: #6564dbff;
  --palatinate-blue: #232ed1ff;
  --oxford-blue: #101d42ff;
  --rich-black: #0d1317ff;
  --success: #4bb543;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--rich-black);
  --color-text: var(--non-photo-blue);
  --color-primary: var(--slate-blue);
  --color-secondary: var(--oxford-blue);
  --color-accent: var(--palatinate-blue);
  --color-error: #ff0000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  font-family:
    Roboto,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Inter,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
